<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slurm User Manager</title>
    <link rel="stylesheet" href="style-test.css">
</head>
<body>
<div class="container">
    <div class="login-box">
        <img src="logo.png" alt="Logo" class="logo"> <!-- Logo Image -->
        <h2>Slurm User Manager</h2> <!-- Title under the logo -->

        <!-- Login Form -->
        <form action="/submit-login" method="POST">
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="btn">Sign In</button>
        </form>
    </div>
</div>
</body>
</html>
